body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #e19b70d0;
}

h1 {
    text-align: center;
    color: rgba(188, 17, 17, 0.641);
}

.img {
    display: block;
    border: 3px solid rgba(188, 17, 17, 0.641);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }