* {
  background-color: #bb754ad0;
}

h1.heading {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 36px;
    color: rgb(120, 4, 4)
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  .head.ing {
    color: rgb(20, 99, 1);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

  .head.steps {
    color: rgb(91, 48, 2);
    text-align: right;
  }

  .par {
    font-family: 'Courier New', Courier, monospace;
    color:black
  }

  .list {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

  .seclist {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
  }

  .desc {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(114, 105, 5)
  }