body {
    font-family: 'Courier New', Courier, monospace;
}

h1.heading {
    color: rgb(22, 57, 0);
    text-align: right;
}

.par {
    color: rgb(85, 0, 0);
    text-align: right;
}

.rec {
    text-align: right;
}

#title {
    font-family: 'Courier New', Courier, monospace;
}