body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(227, 171, 153);
}

h1 {
    color: rgba(45, 13, 118, 0.678);
    text-align: right;
}

.par {
    color: rgba(8, 3, 19, 0.891);
    text-align: right;
}
